<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= bookGridClass %>">
  <% services.forEach(service => { %>
    <a href="/services/<%= service.id %>">
      <img class="book-cover <%= bookCoverClass %>" src="<%= service.coverImagePath %>">
    </a>
  <% }) %>
</div>