<header>
    <nav>
        <a href="/">Teste</a>
        <ul>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/clientes/new">Adicionar Clientes</a></li>
        </ul>
    </nav>
</header>