<header>
  <nav class="header-nav">
    <a class="header-title" href="/">ServFarm</a>
    <ul>
      <li><a href="/clientes">Clientes</a></li>
      <li><a href="/clientes/new">Add Cliente</a></li>
      <li><a href="/providers">Providers</a></li>
      <li><a href="/providers/new">Add Provider</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/services/new">Add Services</a></li>
    </ul>
  </nav>
</header>